<div class="wrapper">
    <div class="container">
        <div class="file-upload-container">
            <label class="file-label" for="file">Choose a Text File</label>
            <input type="file" class="file-input" id="file">
            <div class="selected-file" id="selectedFile">No file selected</div>
        </div>
        
    <div class="search-container">
        <input type="text" class="search-input" placeholder="Search...">
        <button class="search-button">Search</button>
    </div>
    <table >
        <thead>
            <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Street</th>
            <th>City</th>
            <th>Post Code</th>
            <th>Email</th>
            <th>Telephone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Ruth</td>
            <td>Griffiths</td>
            <td>Smith dam</td>
            <td>Lake Janiceland</td>
            <td>S0A 3JW</td>
            <td>moorefrancesca@example.net</td>
            <td>+44191 4960637</td>
        </tr>
    </tbody>
</table>
</div>
</div>  